.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  width: 5cm;
  pointer-events: none;
}

/* .logo-title-container {
  display: flex;
  align-items: center;
  gap: 5px; Adjust gap as necessary
} */
.logo-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; /* Adjust gap as necessary */
}

.separator {
  flex: 1; /* Ensure it takes up available space */
  height: 1px; /* Optional: height for visual separation, can be omitted */
  background-color: transparent; /* Invisible separator */
}
.App-title {
  font-size: 42px; /* Adjust size as necessary */
  color: #e3ae64ec; /* Adjust color as necessary */
  
  font-family: 'Great Vibes', cursive; /* Ensure you load this font or choose another */
}

.App-header {
  
  background-color: #ffffff;
 
  display: left;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-left: 10;
  
  
  font-size: calc(10px + 2vmin);
  color: rgb(196, 141, 52);
  font-family: 'Great Vibes', cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login {
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust gap between login icon and text */
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #7C8DB0;
  margin: 0;
  cursor: pointer;
}

.login-icon {
  color:#7C8DB0;
  height: 5vmin; /* Adjust size of the login icon as necessary */
}

.login-text {
  margin: 0;
  padding-right: 10px;
}

.login:hover,
.login:focus {
  cursor: pointer;
  color: #000000;  /* Change color when hovered or focused */
  text-decoration: underline;
}

/* Ensure the text itself can be focused */
.login-text:focus {
  outline: none;
}